/* Transparent background */
.navbar {
    background-color: white !important;
    height: 5rem;
}

/* Make brand + nav links black */
.navbar .navbar-brand,
.navbar .nav-link {
    color: black !important;
}

/* Make toggler border + icon black */
.navbar .navbar-toggler {
    border-color: black !important;
}

.navbar .navbar-toggler-icon {
    filter: invert(0) !important; /* 0 = black, 1 = white */
}

.fa-compass {
    color: #fe424d !important;
    font-size: 2rem;
}

/* footer coloring */
.f-info-links a {

    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: rgb(71, 71, 217);
}

.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links{
    width: 100%;
}
.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 1rem;
}